<!DOCTYPE html>
<html>
<body>

<h2>ISS Tracker forms</h2>

<form action="/action_page.php">
  <label for="fname">Time:</label><br>
  <input type="text" id="fname" name="fname" value="18:00"><br>
  <label for="lname">Date:</label><br>
  <input type="text" id="lname" name="lname" value="DD/MM/YYYY"><br><br>
</form> 

<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
  <input type="range" id="a" value="50">
  +<input type="number" id="b" value="25">
  =<output name="x" for="a b"></output>
</form>


<p>If you click the "Submit" button, the form-data will be sent to a page called "details".</p>

</body>
</html>