<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iss Tracking</title>
  </head>
  <body>
    
   //<script>
    // <p id="demo"></p> 
//const time = new Date().getHours();
//let greeting;
//if (time < 10) {
  //greeting = "Good Morning";
//} else if (time < 20) {
  //greeting = "Good Afternoon";
//} else {
  //greeting = "Good Evening";
//}
//document.getElementById("demo").innerHTML = greeting;
//</script>

<h2>Welcome to ISS tracking Homepage</h2>
    {{ message }}

<p>In this webpage, user can select the time to know the exact point of past loaction of ISS
 or know the exact point of ISS real time</p>

<p><a href="forms.hbs">Enter the details</a></p>

 <p>Thank you</p>

  </body>
</html>